---
layout: base
title: About us
---
<div class="about">
    <h1>{{title}}</h1>

    <p class='about__intro-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, laboriosam possimus nihil, iure, repellat quae soluta eius reiciendis tenetur nemo sapiente quis mollitia voluptatem! Recusandae deleniti nobis unde in dolorum nesciunt similique suscipit perspiciatis labore debitis? Vero, quae? Tempora, consequatur?</p>

    <div class="about__persons">
        <div class='about__persons__person'>
            <img src="/assets/img/placeholder-image.png" alt="ph">
            <div class='about__persons__person-wrap'>
                <strong class="about__persons__person--name">John Doe</strong>
                <span class="about__persons__person--name--function">function</span>
            </div>
        </div>
        <div class='about__persons__person'>
            <img src="/assets/img/placeholder-image.png" alt="ph">
            <div class='about__persons__person-wrap'>
                <strong class="about__persons__person--name">John Doe</strong>
                <span class="about__persons__person--name--function">function</span>
            </div>
        </div>
        <div class='about__persons__person'>
            <img src="/assets/img/placeholder-image.png" alt="ph">
            <div class='about__persons__person-wrap'>
                <strong class="about__persons__person--name">John Doe</strong>
                <span class="about__persons__person--name--function">function</span>
            </div>
        </div>
        <div class='about__persons__person'>
            <img src="/assets/img/placeholder-image.png" alt="ph">
            <div class='about__persons__person-wrap'>
                <strong class="about__persons__person--name">John Doe</strong>
                <span class="about__persons__person--name--function">function</span>
            </div>
        </div>
    </div>

    <div class="about__services">
        <h2>Services</h2>

        <div class="about__services__all-services">
            <div class="about__services__all-services-service">
                <img src="/assets/img/icons/check_circle.svg" alt="check">
                <strong class="about__services__all-services-service--title">24/7 chat</strong>
                <p class="about__services__all-services-service--info">We offer a permanently open chat to all our customers. If you have any trouble or questions, you can always contact us.</p>
            </div>
            <div class="about__services__all-services-service">
                <img src="/assets/img/icons/check_circle.svg" alt="check">
                <strong class="about__services__all-services-service--title">free repair</strong>
                <p class="about__services__all-services-service--info">Screen broken? No problem. We will fix anything for free. Contact the customers support and we'll make an arangement.</p>
            </div>
            <div class="about__services__all-services-service">
                <img src="/assets/img/icons/check_circle.svg" alt="check">
                <strong class="about__services__all-services-service--title">free return</strong>
                <p class="about__services__all-services-service--info">If you don't like your package, don't worry! You can always send it back AND it's completely free!</p>
            </div>
        </div>
    </div>
</div>