---
layout: base
title: Account
---
<div class="account">
    <h1>Account</h1>

    <div class="account__links">
        <a class='account__links__link' href="#">
            <img src="/assets/img/icons/account-icon.svg" alt="account">
            <span class="account__links__link-title">account info</span>
        </a>
        <a class='account__links__link' href="#">
            <img src="/assets/img/icons/wallet-icon.svg" alt="payment options">
            <span class="account__links__link-title">payment methods</span>
        </a>
        <a class='account__links__link' href="#">
            <img src="/assets/img/icons/key-icon.svg" alt="security">
            <span class="account__links__link-title">security</span>
        </a>
        <a class='account__links__link' href="#">
            <img src="/assets/img/icons/bell-icon.svg" alt="notifications">
            <span class="account__links__link-title">notifications</span>
        </a>
    </div>
</div>