---
layout: base
title: promotions
---

<div class="checkout">
    <form action="">
        <label for="firstname">
        <span class='checkout__label-name'>first name</span>
        <input type="text" name="firstname" id="firstname">
        </label>
        <label for="lastname">
        <span class='checkout__label-name'>last name</span>
        <input type="text" name="lastname" id="lastname">
        </label>
    </form>
</div>