---
layout: base
title: Home
eleventyNavigation:
  key: Home
  order: 1
---
<div class="compare">
    <div class='compare__products'>
        <div class="compare__product" style='background: url(../assets/img/placeholder-image.png) center no-repeat'>
            <h2 class='compare__product-name'>Product name</h2>
            <span class="compare__product-price">&euro; 999</span>
            <img src="/assets/img/icons/all-rating-stars.svg" alt="rating">
            <button>Add to cart</button>
        </div>
        <div class="compare__product" style='background: url(../assets/img/placeholder-image.png) center no-repeat'>
            <h2 class='compare__product-name'>Product name</h2>
            <span class="compare__product-price">&euro; 999</span>
            <img src="/assets/img/icons/all-rating-stars.svg" alt="rating">
            <button>Add to cart</button>
        </div>
    </div>

    <div class="compare__comparisons">
        <ul class='compare__comparisons__list'>
            <li>
                <div class='comparisons-wrap'>
                    <strong>title</strong>
                    <div class='compare__comparisons__value-wrap'>
                        <span class="value-product">value</span>
                        <span class="value-product">value</span>
                    </div>
                </div>
            </li>
            <li>
                <div class='comparisons-wrap'>
                    <strong>title</strong>
                    <div class='compare__comparisons__value-wrap'>
                        <span class="value-product">value</span>
                        <span class="value-product">value</span>
                    </div>
                </div>
            </li>
            <li>
                <div class='comparisons-wrap'>
                    <strong>title</strong>
                    <div class='compare__comparisons__value-wrap'>
                        <span class="value-product">value</span>
                        <span class="value-product">value</span>
                    </div>
                </div>
            </li>
            <li>
                <div class='comparisons-wrap'>
                    <strong>title</strong>
                    <div class='compare__comparisons__value-wrap'>
                        <span class="value-product">value</span>
                        <span class="value-product">value</span>
                    </div>
                </div>
            </li>
            
           
           
        </ul>
    </div>
</div>