---
layout: base
title: confirmation
---
<div class="confirmation">
    <h1>Tracking</h1>

    <span class="expected-delivery">
        <strong>expected delivery:</strong>
        <span class="expected-delivery__delivery-date">
            date here
        </span>
    </span>

    <div class="confirmation__delivery-status">
        <p>svg moet hier komen maar komt niet tevoorschijn zonder reden</p>
    </div>

    <div class="confirmation__delivery-status__time">
        <strong class="confirmation__delivery-status__time--date">date here</strong>
        <div class="confirmation__delivery-status__time-info">
            <ul>
                <li>
                    <div class='li-wrap'>
                        <span class="delivery-time">08:00 am</span>
                        <img src="/assets/img/icons/check_circle.svg" alt="check">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </li>
            </ul>
        </div>
    </div>
</div>