---
layout: base
title: Contact us
---

<div class="contact">
    <div class="contact__content">
        <div class='contact__content__contact-us'>
            <h1>Contact us</h1>
            <p>Contact us if you have any questions.</p>
            <form action="">
                <label for="email">
                    <span class='contact__label-name'>email</span>
                    <input type="text" name="email" id="email">
                </label>
                <label for="subject">
                    <span class='contact__label-name'>subject</span>
                    <input type="text" name="subject" id="subject">
                </label>
                <label for="message">
                    <span class='contact__label-name'>message</span>
                    <input type="text" name="message" id="message">
                </label>
                <input type="submit" value="send">
            </form>
        </div>

        <div class="contact__content__our-info">
            <h2>Our info</h2>
            <div class='contact__content__our-info__content'>
                <a href="mailto:help@hotred.com">help@hotred.com</a>
                <a href="tel:+0470112233">+32 470 112 233</a>
                <p>stationstraat 1 1000 Brussel</p>
                <div class="contact__content__our-info__content__logo-wrap">
                    <img src="/assets/img/icons/twitter-logo.svg" alt="Twitter logo">
                    <img src="/assets/img/icons/facebook-logo.svg" alt="Facebook logo">
                    <img src="/assets/img/icons/ig-logo.svg" alt="Instagram logo">
                </div>
            </div>
        </div>
    </div>
</div>