---
layout: base
title: tablets
---

<div class="computers">
    <h1>Phones</h1>

    <div class='articles__all-articles'>
{# 
        <div class="articles__article">
            <img class='articles__article__product-image' src="../assets/img/placeholder-image.png" alt="ph">
            <h3>Lorem ipsum</h3>
            <span class="articles__article__price">
                <strong>€ 999</strong>
            </span>
            <div class="articles__article__rating-wrap">
                <img src="../assets/img/icons/all-rating-stars.svg" alt="5 star rating">
                <span class="articles__article__rating-amount">(256)</span>
            </div>
            <div class="articles__article__link-atc-wrap">
                <a href="productDetail/index.html">more info</a>
                <img src="../assets/img/icons/add-to-cart.svg" alt="add to cart icon">
            </div>
            <div class="articles__article__in-stock-wrap">
                <img src="../assets/img/icons/check_circle.svg" alt="check">
                <span class="articles__article__in-stock">in stock</span>
            </div>
        </div>
    </div> #}

</div>