---
layout: base
title: promotions
---

<div class="promotions">
    <h1>Promotions</h1>

    <div class="promotions__articles">

        <div class="promotions__articles__article">
            <img class='promotions__articles__article-product-image' src="/assets/img/placeholder-image.png" alt="ph">
            <h3>Lorem ipsum</h3>
            <span class="promotions__articles__article-old-price">&euro; 888</span>
            <span class="promotions__articles__article-price">
                <strong>&euro; 999</strong>
            </span>
            <div class="promotions__articles__article-rating-wrap">
                <img src="assets/img/icons/all-rating-starts.svg" alt="5 star rating">
                <span class="promotions__articles__article-rating-amount">(256)</span>
            </div>
            <div class="promotions__articles__article-link-atc-wrap">
                <a href="productDetail/index.html">more info</a>
                <img src="/assets/img/icons/add-to-cart.svg" alt="add to cart icon">
            </div>
            <div class="promotions__articles__article__in-stock-wrap">
                <img src="/assets/img/icons/check_circle.svg" alt="check">
                <span class="promotions__articles__article-in-stock">in stock</span>
            </div>
        </div>

    </div>
</div>