---
layout: base
title: shopping cart
---
<div class="shopping-cart">
    <h1 class='shopping-cart__title'></h1>

    <div class="shopping-cart__articles">
        {# <div class="shopping-cart__articles__article">
            <div class='shopping-cart__articles__article-content'>
                <img src="/assets/img/placeholder-image.png" alt="ph">
                <div class="shopping-cart__articles__article-info-wrap">
                    <h3>Product title</h3>
                    <span class="shopping-cart__articles__article-price">
                        &euro; 999
                    </span>
                    <div class='shopping-cart__articles__article-info-wrap__select-delete-btn-wrap'>
                        <select name="shopping-cart-amount" id="shopping-cart-amount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <img src="/assets/img/icons/delete-btn.svg" alt="">
                    </div>
                </div>
            </div>
        </div> #}
    </div>
    
    <ul class="shopping-cart__prices">
        <li>
            <span class="shopping-cart__prices__price-item">items</span>
            &euro;
            <span class="hopping-cart__prices__price-amount">0</span>
        </li>
        <li>
            <span class="shopping-cart__prices__price-item">tax</span>
            &euro;
            <span class="hopping-cart__prices__price-amount">100</span>
        </li>
         <li>
            <span class="shopping-cart__prices__price-item price-total">total</span>
            &euro;
            <span class="hopping-cart__prices__price-amount price-total">0</span>
        </li>
    </ul>

<a class='shopping-cart__ptc-btn' href="../checkout/index.html">Proceed to checkout</a>

</div>