---
layout: base
title: sign in
---

<div class="sign-in">
    <h1>Sign in</h1>
    <form action="">
        <label for="username">
            <span class='sign-in__label-name'>username</span>
            <input type="text" name="username" id="username">
        </label>
        <label for="password">
            <span class='sign-in__label-name'>password</span>
            <input type="text" name="password" id="password">
        </label>
        <a href="#">forgot password?</a>
        <input type="submit" value="sign in">
    </form>
</div>