---
layout: base
title: Sign up
---

<div class="sign-up">
    <form action="">
        <div class='sign-up__form-split'>
            <label for="firstname">
                <span class='sign-up__label-name'>first name</span>
                <input type="text" name="firstname" id="firstname">
            </label>

            <label for="lastname">
                <span class='sign-up__label-name'>last name</span>
                <input type="text" name="lastname" id="lastname">
            </label>
        </div>

        <label for="username">
            <span class='sign-up__label-name'>username</span>
            <input type="text" name="username" id="username">
        </label>

        <label for="password">
            <span class='sign-up__label-name'>password</span>
            <input type="text" name="password" id="password">
        </label>
        <label for="confirm-password">
            <span class='sign-up__label-name'>confirm password</span>
            <input type="text" name="confirm-password" id="confirm-password">
        </label>
        <input type="submit" value="sign up">
    </form>

</div>