---
layout: base
title: Support
---

<div class="support">
    <h1>Support</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae fugit reprehenderit inventore architecto id facilis minus officiis nulla deserunt quisquam?</p>

    <div class="support__help">
        <strong class="support__help__title">How can we help you?</strong>
        <div class='support__help__wrap'>
            <input type="text" placeholder='search keyword'>
            <button>search</button>
        </div>
    </div>

    <div class="support__contact-options">
        <div class="support__contact-options__option">
            <img src="/assets/img/icons/mail.svg" alt="mail">
            <span class="support__contact-options__option-title">Email</span>
            <a href="mailto:help@hotred.com">email us</a>
        </div>
        <div class="support__contact-options__option">
            <img src="/assets/img/icons/phone.svg" alt="telephone">
            <span class="support__contact-options__option-title">telephone</span>
            <a href="tel:+32470112233">call us</a>
        </div>
        <div class="support__contact-options__option">
            <img src="/assets/img/icons/chat.svg" alt="chat">
            <span class="support__contact-options__option-title">chat</span>
            <a href="mailto:help@hotred.com">chat with us</a>
        </div>
    </div>
</div>