---
layout: base
title: wishlist
---

<div class="wishlist">
    <h1>Wishlist(5)</h1>

    <div class="wishlist__articles">
        <div class="wishlist__articles__article">
            <div class='wishlist__articles__article-content'>
                <img src="/assets/img/placeholder-image.png" alt="ph">
                <div class="wishlist__articles__article-info-wrap">
                    <h3>Product title</h3>
                    <span class="wishlist__articles__article-price">
                        &euro; 999
                    </span>
                    <div class="wishlist__articles__article__in-stock-wrap">
                        <img src="/assets/img/icons/check_circle.svg" alt="check">
                        <span class="wishlist__articles__article-in-stock">in stock</span>
                    </div>
                </div>
            </div>
            <div class="wishlist__articles__article__amount-atc-wrap">
                <select name="wishlist-amount" id="wishlist-amount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button>Add to cart</button>
            </div>
        </div>
    </div>
    

</div>