<footer>
    <div class='footer__mobile-version'>
        <div class='footer__navigation-sections'>
            <section class="footer__nav__company">
                <div class="footer__header-img-wrap">
                    <h2>Company</h2>
                    <img class='footer-arrow-icon' src="assets/img/icons/footer-arrow.svg" alt="collapse icon">
                </div>
                <div class="footer__nav__company-details"></div>
            </section>
            <section class="footer__nav__legal">
                <div class="footer__header-img-wrap">
                    <h2>Legal</h2>
                    <img src="assets/img/icons/footer-arrow.svg" class='footer-arrow-icon' alt="collapse icon">
                </div>
                <div class="footer__nav__legal-details"></div>
            </section>
            <section class="footer__nav__customer-service">
                <div class="footer__header-img-wrap">
                    <h2>Customer Service</h2>
                    <img src="assets/img/icons/footer-arrow.svg" class='footer-arrow-icon' alt="collapse icon">
                </div>
                <div class="footer__nav__customer-service-details"></div>
            </section>
        </div>

        <section class="footer__newsletter">
            <p>subscribe to our newsletter</p>

            <form action="">
                <input type="text">
                <input type="submit" value="subscribe">
            </form>
        </section>
    </div>

    <div class="footer__desktop-version wrapper">
            <img src="assets/img/logo-footer.svg" class='footer-logo' alt="logo">
            <div class='footer__desktop-version__content'>
                    <div class="footer__nav__company--desktop flex">
                        <h2>Company</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#"></a>Contact Us</li>
                            <li><a href="#"></a>FAQ</li>
                            <li><a href="#"></a>Sitemap</li>
                            <li><a href="#"></a>Careers</li>
                        </ul>
                    </div>
                    <div class="footer__nav__legal--desktop flex">
                        <h2>Legal</h2>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#"></a>Cookies</li>
                            <li><a href="#"></a>Advertising</li>
                            <li><a href="#"></a>Terms Of Use</li>
                        </ul>
                    </div>
                    <div class="footer__nav__customer-service--desktop flex">
                        <h2>Customer service</h2>
                        <ul>
                            <li><a href="#">Orders</a></li>
                            <li><a href="#">Payments</a></li>
                            <li><a href="#">Repairs</a></li>
                        </ul>
                    </div>
                    <section class="footer__newsletter">
                        <p>subscribe to our newsletter</p>

                        <form action="">
                                <input type="text" placeholder='john.doe@example.com'>
                                <input type="submit" value="subscribe">
                        </form>
                    </section>
        </div>
    </div>

</footer>