<header>
    <div class='wrapper'>
        <div class="small-navigation">
            <a href='/'><img src="/assets/img/logo.svg" alt="logo icon"></a>
            <img src="/assets/img/icons/hamburger.svg" class='hamburger-menu' alt="menu icon">
            <div class="small-navigation__content">
                <a href="compare/index.html">compare</a>
                <a href="promotions/index.html">promotions</a>
                <div class="small-navigation__content-icons-wrap">
                    <a href="/wishlist/index.html">
                        <img src="/assets/img/icons/heart.svg" alt="wishlist icon">
                    </a>
                    <a class='shopping-cart-icon' href="/shoppingCart/index.html">
                        <img src="/assets/img/icons/shopping-cart.svg" alt="shopping cart icon">
                        <span class='shopping-cart-icon__item-count'></span>
                    </a>
                    <a href="/account/index.html">
                        <img src="/assets/img/icons/profile.svg" alt="profile icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="big-navigation">
        <div class='wrapper big-navigation__content'>
            <a href="#">computers&sol;laptops</a>
            <a href="#">tablets</a>
            <a href="#">phones</a>
            <a href="#">accessoires</a>
            <input type="text" placeholder='Search...'>
        </div>
    </div>

    <div class="mobile-navigation ">
        <div class="small-navigation__content-icons-wrap">
            <a href="#"><img src="/assets/img/icons/heart.svg" alt="wishlist icon"></a>
            <a href="#"><img src="/assets/img/icons/shopping-cart.svg" alt="shopping cart icon"></a>
            <a href="#"><img src="/assets/img/icons/profile.svg" alt="profile icon"></a>
        </div>
        <ul>
            <li>
                <a href='#'>item</a>
            </li>
            <li>
                <a href='#'>item</a>
            </li>
            <li>
                <a href='#'>item</a>
            </li>
            <li>
                <a href='#'>item</a>
            </li>
            <li>
                <a href='#'>item</a>
            </li>
            <li>
                <a href='#'>item</a>
            </li>
        </ul>
    </div>

</header>