<header>
    <div class='wrapper'>
        <div class="small-navigation">
            <img src="assets/img/logo.svg" alt="logo icon">
            <img src="assets/img/icons/hamburger.svg" class='hamburger-menu' alt="menu icon">
            <div class="small-navigation__content">
                <a href="#">compare</a>
                <a href="#">promotions</a>
                <div class="small-navigation__content-icons-wrap">
                    <a href="#"><img src="assets/img/icons/heart.svg" alt="wishlist icon"></a>
                    <a href="#"><img src="assets/img/icons/shopping-cart.svg" alt="shopping cart icon"></a>
                    <a href="#"><img src="assets/img/icons/profile.svg" alt="profile icon"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="big-navigation">
        <div class='wrapper big-navigation__content'>
            <a href="#">computers&sol;laptops</a>
            <a href="#">tablets</a>
            <a href="#">phones</a>
            <a href="#">accessoires</a>
            <input type="text" placeholder='Search...'>
        </div>
    </div>
</header>