<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HotRed</title>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>

        {% include "_components/header.njk" %}

        <main>
            <div class="wrapper">
                {{ content | safe }}
            </div>
        </main>

        {% include "_components/footer.njk" %}
        

        <script src="/assets/js/detailPage.js"></script>
        <script src="/assets/js/fetch.js"></script>
        <script src="/assets/js/index.js"></script>
    </body>
</html>
